body, html{
    height: 100%;
    overflow-y: hidden;
}

body{
    background: hsl(240, 73%, 65%);
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#d-resultado{
    margin: 10px 0px;
}

input{
    width: 80px;
}

button{
    background:  hsl(240, 75%, 60%);
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}

button:hover{
    padding: 6px 11px;
   
}